NEXTAUTH_URL=http://localhost:3000
DATABASE_URL=postgresql://user:password@localhost:5432/mydb?schema=public
NEXT_PUBLIC_FASTAPI_BASE_URL=https://docs.dinokage.in
NEXT_PUBLIC_CDN_URL=https://cdn.hextasphere.com/ethos